<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FS_Address" value="localhost" />
    <add key="FS_Port" value="211" />
    <add key="FS_Login" value="adm" />
    <add key="FS_Password" value="" />
    <add key="ServiceAddress" value="net.pipe://127.0.0.1/FiresecService/" />
    <add key="Login" value="adm" />
    <add key="Password" value="" />
  </appSettings>
</configuration>