<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TCPBaseAddress" value="net.tcp://localhost:8000/FiresecService/"/>
    <add key="HTTPBaseAddress" value="http://localhost:8001/FiresecService/"/>
    <add key="DefaultLogin" value="adm" />
    <add key="DefaultPassword" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>