<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FiresecService.Properties.Settings.PersonsConnectionString"
        connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Persons;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="FiresecService.Properties.Settings.FiresecConnectionString"
        connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Firesec;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>