<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<connectionStrings>
  <add name="FiresecService.SKUD.Properties.Settings.FiresecConnectionString"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=Firesec;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="FiresecService.Properties.Settings.PersonsConnectionString"
   connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Persons;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="FiresecService.Properties.Settings.FiresecConnectionString"
   connectionString="Data Source=Firesec.sdf;Persist Security Info=True;Password='adm';File Mode='shared read'"
   providerName=".NET Framework Data Provider for Microsoft SQL Server Compact 3.5" />
 </connectionStrings>

	<appSettings>
		<add key="OldFiresecLogin" value="adm" />
		<add key="OldFiresecPassword" value="" />
		<add key="ServiceAddress" value="net.tcp://localhost:8000/FiresecService/" />
		<add key="IsDebug" value="True" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
		<variable name="appTitle" value="Firesec Service"/>
		<targets>
			<target name="file" xsi:type="File"
    layout="${longdate} ${threadid:padding=3} ${level:padding=-30} ${logger:padding=-30} ${message} ${exception:format=tostring}"
    fileName="${basedir}/Logs/${shortdate}.log"
    createDirs="True"/>
			<target name="console" xsi:type="ColoredConsole"
    layout="${date:format=HH\:MM\:ss} ${threadid:padding=3} ${logger:padding=-30} ${message}" />
			<target xsi:type="EventLog" name="eventLog" source="${appTitle}" layout="${message}${newline}${exception:format=tostring}"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="file" />
			<logger name="*" minlevel="Error" writeTo="eventLog"/>
		</rules>
	</nlog>
</configuration>